#cover {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cover h1 {
    font-size: min(18vw, 200px);
}
#cover img {
    height: min(30vw, 300px);
}
.stripe {
    height: 100vh;
    width: 100vw;
}
.stripe > *, .stripe > * > *, .stripe > * > * > * {
    height: 100%;
    
}
@media (max-width: 768px) {
    .stripe > * > * > * {
        height: 50%;
    }
    .mw-md-100 {
        max-width: 100%;
    }
}
.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-vertically {
    display: flex;
    align-items: center;
}
img {
    max-height: 80%;
    border-radius: 10px;
}
.second-img-right {
    position: absolute;
    left: 100px;
}
body {
    overflow-x: hidden;
}

#navbar.theme-dark li img {
    filter: brightness(0) invert(100%);
}
object {
    color: var(--color-08);
}