body {
    overflow-x: hidden;
}

a:not(nav a), a:not(nav a):hover, a:not(nav a):visited {
    position: relative;
    color: rgb(33,37,41);
    text-decoration: none;
}
a:not(nav a)::after {
    height: 2px;
    width: 100%;
    background: rgb(33,37,41);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(1);
    transition: all 0.5s ease;
}
a:not(nav a):hover::after {
    transform: scaleX(0);
}
.spacer-100 {
    height: 100px;
}