#mini-player {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg-color);

    /* Inside miniplayer, the theme is immutable */
    --bg-color: var(--bg-color-dark);
    --bg-color-05: var(--bg-color-dark-05);
    --bg-color-02: var(--bg-color-dark-02);
    --color: var(--color-dark);
    --color-05: var(--color-dark-05);
    --color-02: var(--color-dark-02);
    --button-hover-bg: var(--button-hover-bg-dark);
    background-color: var(--bg-color);
    color: var(--color);
}
#mini-player-cover {
    width: 100vh;
    height: 100vh;
    -webkit-app-region: drag;
}
#mini-player-cover > * {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
#mini-player-content {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--bg-image);
    background-size: cover;
    background-position: center;
}
#mini-player-content > * {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#mini-player-buttons {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: var(--transition);
    justify-content: center;
}
#mini-player-buttons:hover {
    opacity: 1;
}
#mini-player-track-title {
    padding-left: 15px;
    justify-content: flex-start;
}
#mini-player-track-title > h4 {
    margin: 0;
}