#content img {
    width: 100%;
}

h1 {
    margin-top: 150px;
}

h2 {
    margin-top: 100px;
}

h3 {
    margin-top: 60px;
}

h4 {
    margin-top: 40px;
}

h5 {
    margin-top: 30px;
}

h6 {
    margin-top: 20px;
}

#cover {
    height: 60vh;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("/Musicly/assets/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#cover > h1 {
    font-size: 100px;
    margin: 0;
}
.spacer-200 {
    height: 200px;
}