#search-container {
    display: flex;
    color: var(--color-05);
    fill: var(--color-05);
    border: 1px solid var(--color-02);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
#search-container:hover {
    border: 1px solid var(--color-05);
}

#search-input, #search-dummy, #search-input:focus, #search-dummy:focus {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    text-align: right;
    margin-right: 20px;
    min-width: 30px;
    color: var(--color-05);
}

#search-input::placeholder, #search-dummy::placeholder {
    color: var(--color-05);
}