#tutorial-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#tutorial {
    position: fixed;
    left: calc(50vw - 500px);
    top: calc(50vh - 250px);
    width: 1000px;
    height: 500px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 50px;
}
.slide {
    height: 375px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.slide > h1 {
    text-align: center;
}
.tutorial-buttons {
    display: flex;
}

#tutorial a {
  color: var(--color);
  transition: var(--transition);
  opacity: 0.8;
}
#tutorial a:focus, #tutorial a:hover {
    opacity: 0.5;
}