#tutorial-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#tutorial {
    position: fixed;
    left: calc(50vw - min(500px, max(40%, 390px)));
    top: calc(50vh - 250px);
    width: min(1000px, max(80%, 780px));
    height: 500px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 50px;
}
.slide {
    height: 375px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.slide > h1 {
    text-align: center;
}
.tutorial-buttons {
    display: flex;
}

#tutorial a {
  color: var(--color);
  transition: var(--transition);
  opacity: 0.8;
}
#tutorial a:focus, #tutorial a:hover {
    opacity: 0.5;
}
.note {
    font-size: 0.8em;
    color: gray;
}
#dummy-miniplayer-container {
    height: 70px;
    width: 300px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.5);
    border-radius: 5px;
    overflow: hidden;
}
#dummy-miniplayer-container #mini-player {
    height: 70px;
    width: 300px;
}
#dummy-miniplayer-container #mini-player-cover {
    height: 70px;
    width: 70px;
}
#tutorial p {
    color: var(--color-08);
    text-align: justify;
}
#tutorial strong {
    color: var(--color)
}