#progress-bar-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#progress-bar-background {
    width: 100%;
    height: 2px;
    background-color: var(--color-02);
    cursor: pointer;
}

#progress-bar-fill {
    background-color: var(--color);
    height: 2px;
    position: relative;
    cursor: pointer;
}
#progress-bar-button {
    color: var(--color);
    position: absolute;
    top: -7px;
    left: 100%;
    display: flex;
    align-items: center;
}