#album-tracks {
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: var(--border-radius);
}
#genre-container {
    display: flex;
}
#album-details-background {
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--bg-image);
    padding: 20px;
    justify-content: center;
    align-items: center;

    /* Inside this element, the theme is always set to dark */
    --bg-color: var(--bg-color-dark);
    --bg-color-05: var(--bg-color-dark-05);
    --bg-color-02: var(--bg-color-dark-02);
    --color: var(--color-dark);
    --color-08: var(--color-dark-08);
    --color-05: var(--color-dark-05);
    --color-02: var(--color-dark-02);
    --button-hover-bg: var(--button-hover-bg-dark);
    color: var(--color);
}
#album-details-scroll {
    max-height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail-input {
    height: 40px;
    line-height: 40px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-05);
    max-width: 100%;
    color: var(--color);
    transition: var(--transition);
    background-color: transparent;
    padding: 10px;
}
.detail-input::placeholder {
    color: var(--color-05);
}
.detail-input:hover, .add-quoteinput:focus {
    border: 1px solid var(--color);
}

.artist-detail {
    color: var(--color-05);
}