#album-tracks {
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: var(--border-radius);
}
#genre-container {
    display: flex;
    margin-left: 10px;
}
#album-details-background {
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--bg-image);
    padding: 20px;
    justify-content: center;
    align-items: center;
}
#album-details-background p {
    margin-bottom: 0.5rem;
}
#album-details-scroll {
    max-height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}