.button {
    cursor: pointer;
    transition: var(--transition);
    display: inline;
}

.box-button:hover, .round-button:hover {
    background-color: var(--button-hover-bg);
}

/* Inside the cover component, only the
cover needs to be hovered */
.cover .round-button {
    background-color: var(--bg-color);
    opacity: 0;
}
.cover:hover > * {
    opacity: 0.8;
}

.button.box-button {
    border-radius: var(--border-radius);
    min-height: 60px;
    min-width: 60px;
}
.button.round-button {
    border-radius: 50%;
    transition: var(--transition);
    height: 40%;
    width: 40%;
}

/* This button is used mainly to display text */
.button.outline-button {
    margin: 4px;
    height: 40px;
    min-width: 100px;
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: center;
    color: var(--color);
    background-color: var(--bg-color);
    transition: var(--transition);
    /* This will center text vertically */
    line-height: 20px;
    display: inline-block;
}
.button.outline-button {
    border: 1px solid var(--color-05);
}
.button.outline-button:hover, .outline-button:focus {
    border: 1px solid var(--color);
}