.header {
    position: fixed;
    padding: 5px;
    top: 0;
    left: 0;
    height: 8vh;
    -webkit-app-region: drag;
}
/* Button on header bar are not used to drag the window */
.header > * > * {
    -webkit-app-region: no-drag;
}
/* Class that prevents overlapping, since header position is absolute */
.header-placeholder {
    height: 8vh;
}

#control-button-container {
    margin: 20px;
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    transition: var(--transition);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.2);
}
/* Depending on whether the heading is applied, it may have 2 or 3 buttons.
Therefore, we need to define a new variable */
#control-button-container:hover {
    width: var(--container-width);
}