#track-list {
    border-radius: var(--border-radius);
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.row.disc-separator {
    background-color: var(--color-02);
    height: 50px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.disc-separator > div > svg {
    margin: -12px;
}